* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Trebuchet MS, sans-serif;
    background-color:#FFFFF0;
    color: #FFFFF0;
    line-height: 1;
}

.main-header {
    background-color: #023020;
    border: 5px solid #023020;
    padding: 20px;
}

.header-content {
    text-align: left;
}

.site-title {
    color: #FFFFF0;
    font-family: Impact, sans-serif;
    text-transform: lowercase;
    font-size: 60px;
    font-weight: normal;
}

.main-nav {
    margin-top: 15px;
}

.nav-list {
    list-style: decimal;
    display: block;
}

.nav-list li {
    display: inline;
    margin-right: 5px;
}

.nav-list a {
    color: #17422a;
    font-family: Trebuchet MS, sans-serif;
    text-decoration: none;
    background-color:#3fc77a;
    padding: 5px;
    border: 3px  #17422a;
    border-style: ridge;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-list a:hover {
    color: #3fc77a;
    background-color: #17422a;
}

.main-content {
    padding: 10px;
}

.section {
    display: none;
    margin: 20px 0;
}

.section.active {
    display: block;
}

.hero-section {
    background-color: #023020;
    padding: 5px;
    text-align: center;
    border: 10px 	#3fc77a;
    border-style: ridge;
}

.hero-title {
    font-size: 50px;
    color: #FFFFF0;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 5px 5px #000000;
}

.hero-subtitle {
    font-size: 20px;
    color: #FFFFF0;
    margin: 2px 0;
}

.search-container {
    margin-top: 10px;
    text-align: left;
}

.search-input {
    width: 200px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
    border: 3px solid #17422a;
    background-color: #FFFFF0;
    color: #000000;
}

.search-button, .clear-button {
    padding: 5px 15px;
    background-color: #FFFFF0;
    color: #000000;
    border: 2px solid #17422a;
    font-size: 12px;
    cursor: pointer;
}

.filter-section {
    background-color: #023020;
    border: 5px #3fc77a;
    border-style: ridge;
    padding: 2px;
    margin: 5px 0;

}

.filter-section h3 {
    color:#FFFFF0;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
    text-align: left;
    text-transform: uppercase;
    
}

.filter-buttons {
    margin-top: 20px;
}

.filter-btn {
    background-color:#3fc77a;
    color: #023020;
    text-transform: uppercase;
    font-family: Trebuchet MS, sans-serif;
    border: 2px solid #17422a;
    padding: 10px 20px;
    margin: 1px;
    font-size: 15px;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #197742;
    border: 2px solid #3fc77a;
    color: #ffffff;
}

.recipes-section h2 {
    color: #023020;
    font-size: 35px;
    text-align: left;
    text-transform: uppercase;
}

.sort-controls {
    padding: 20px 3px 3px;
    font-size: 15px;
    margin: 3px 0;
    text-align: left;
}

.sort-controls label {
    font-size: 20px;
    color: #023020;
}

.sort-dropdown {
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.recipe-grid {
    display: block;
    margin: 10px 0;
}

.recipe-card {
    border: 3px solid #197742;
    background-color: #FAF9F6;
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    text-align: left;
}

.recipe-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #197742;
    float: left;
}

.recipe-title {
    font-size: 25px;
    color: #023020;
    margin: 1px 20px 1px 130px;
    text-transform: capitalize;
}

.recipe-category {
    font-size: 20px;
    color: #023020;
    background-color: #FAF9F6;
    padding: 1px 1px 1px 10px;
    display: inline-block;
}

.recipe-time {
    font-size: 20px;
    color: #023020;
    padding: 9px;
}

.recipe-difficulty {
    font-size: 20px;
    color: #023020;
}

.recipe-rating {
    font-size: 20px;
    color: #023020;
    
}

.recipe-description {
    font-size: 20px;
    color: #023020;
    margin: 20px 20px 20px 130px;
    line-height: 1;
}

.recipe-actions {
    margin-top: 2px;
}

.favorite-btn, .view-btn {
    background-color: #3fc77a;
    color: #023020;
    border: 1px solid #023020;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 1px;
}

.favorite-btn.favorited {
    background-color: #197742;
}

.no-results, .no-favorites {
    text-align: center;
    color: #FFFFF0;
    font-size: 24px;
    background-color: #023020;
    padding: 8px;
    border: 3px ridge #3fc77a;
}

.about-section {
    background-color: #023020;
    padding: 5px;
    text-align: center;
}

.about-section h2 {
    color: #FFFFF0;
    font-size: 30px;
    text-transform: uppercase;
}

.about-section p {
    font-size: 20px;
    color: #FFFFF0;
    margin: 2px 0;
}

.stats {
    margin: 5px 0;
}

.stat-item {
    display: inline-block;
    margin: 20px;
    background-color: #3fc77a;
    color: #023020;
    padding: 2px;
    border: 1px solid #000000;
}

.stat-item h3 {
    font-size: 15px;
}

.stat-item p {
    font-size: 15px;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #023020;
    color: #FFFFF0;
    padding: 3px;
    text-align: center;
    border-top: 5px solid #3fc77a;
}

.footer-content {
    font-size: 15px;
}

.footer-links {
    margin-top: 2px;
}

.footer-links a {
    color: #FFFFF0;
    text-decoration: none;
    margin-right: 2px;
    font-size: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 163, 120, 0.514);
}

.modal-content {
    background-color: 	#FFFFF0;
    margin: 10% auto;
    padding: 10px;
    border: 5px ridge #197742;
    width: 750px;
    max-width: 90%;
}

.close-modal {
    color: #696868;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modal-recipe-image {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border: 2px solid #197742;
    float: left;
    margin-right: 17px;
}

.modal-recipe-title {
    font-size: 40px;
    color: #023020;
    margin: 2px 0;
}

.modal-ingredients, .modal-instructions {
    margin: 3px 0;
}

.modal-ingredients h4, .modal-instructions h4 {
    font-size: 25px;
    color: #023020;
    text-decoration: underline;
}

.modal-ingredients ul, .modal-instructions ol {
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
}

.modal-ingredients li, .modal-instructions li {
    margin: 5px 0;
    line-height: 1;
}

@media (max-width: 768px) {
    .site-title {
        font-family: Impact, sans-serif;
        font-size: 50px;
    }
    
    .hero-title {
        font-size: 40px;
    }
    
    .search-input {
        width: 155px;
    }
    
    .recipe-card {
        display: inline-grid;
        margin: 30px 0;
    }

    .recipe-title {
        margin: 1px;
    }

    .recipe-category {
        padding: 1px;
    }

    .recipe-time {
        padding: 1px;
        font-size: 15px;
    }

    .recipe-difficulty {
        font-size: 15px;
    }

    .recipe-rating {
        font-size: 15px;
    }

    .recipe-description {
        padding: 1px;
        justify-content: left;
    }
    
    .recipe-image {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 480px) {
    .site-title {
        font-family: Impact, sans-serif;
        font-weight:bolder;
        font-size: 50px;
    }
    
    .hero-title {
        font-size: 25px;
    }
    
    .nav-list li {
        display: inline-grid;
        margin: 1px 0;
        font-size: 10px;
    }

    .nav-list a {
        font-size: 13px;
        padding: 5px;
    }

    .filter-buttons {
        display: inline-grid;
        grid-template-columns: auto auto;
        padding: 3px;
    }

    .modal {
        overflow: auto;
    }
    
    .modal-content {
        width: 370px;
        margin: 20% auto;
    }

    .modal-recipe-image {
        width: 280px;
        height: 280px;
    }
}